.card {
    width: 100vm;
    background-color: whitesmoke;
    border-color: white;
  }
  
  /* Text */
  .card-title { 
    text-align:center ;
  }
  .card img{
    width: 215px;
    height: auto;
  }


  .card-text{
    display: flex;
    margin-top:20px;
    margin-right: 20px;
  }
