
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; /* カード間のスペース */
}


.card {
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 100%;
    min-height: 300px; 
}


.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.card > .d-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; 
}


.card img {
    max-width: 220px; 
    height: auto;
    display: block;
    border-radius: 5px;
}


@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .card {
        flex-direction: column;
        text-align: center;
        min-height: auto;
    }

    .card > .d-flex {
        flex-direction: column;
    }

    .card img {
        max-width: 100%;
        margin-top: 10px;
    }
}
