.card {
    width: 100vm;
    background-color: whitesmoke;
    box-shadow: 0px 0px 8px gray;
  }
  

  .card-title { 
    text-align:center ;
    font-size:30px;
    margin: 10px;
  }
  .card img{
    width: 215px;
    height: auto;
  }


  .card-text{
    display: flex;
    margin-top:20px;
    margin-right: 20px;
  }
