
#carouselExampleAutoplaying {
    max-height: 400px !important; 
    overflow: hidden; 
}


#carouselExampleAutoplaying .carousel-inner {
    max-height: 400px !important;
}

#carouselExampleAutoplaying .carousel-item img {
    width: 100% !important; 
    height: 400px !important; 
    object-fit: cover !important; 
}
