<div class="container-fluid">
    X-UA-Compatible <!-- row -->
     <div class="row justify-content-center mx-2">
        <!-- col -->
        <div class="col-lg-6">
           <div class="card h-100">
             <img src="https://acha0203.github.io/Cafe-Recursion/images/cake-4910417_1280.jpg" alt="Card image" />
             <div class="card-body">
                 <h4 class="card-title">What's New?</h4>
                 <p class="card-text">春の新メニュー「フルーツパイ」をご用意しました。新鮮なフルーツと生クリームのハーモニーをお楽しみください。</p>
             </div>
           </div>
        </div>
        <!-- col -->
        <div class="col-lg-6">
           <div class="card h-100">
              <img src="https://acha0203.github.io/Cafe-Recursion/images/coffee-6632524_1280.jpg" alt="Card image" />
              <div class="card-body">
                 <h4 class="card-title">Recommendation</h4>
                 <p class="card-text">今月のお薦めは「ラムダブレンド」。やや苦みのある上品な香りのコーヒーです。</p>
              </div>
           </div>
        </div>
     </div>
  </div>
