<div class="container">
   <div class="row justify-content-center">
       <!-- 左側のテキストボックス -->
       <div class="col-lg-5 d-flex align-items-stretch">
           <div class="card p-3 d-flex flex-column gap-3 w-100">
               <h4 class="card-title text-center">What's New?</h4>
               <div class="d-flex flex-row align-items-center gap-3 w-100">
                   <div class="card-body d-flex flex-column justify-content-center">
                       <p class="card-text">
                           春の新メニュー「フルーツパイ」をご用意しました。
                           新鮮なフルーツと生クリームのハーモニーをお楽しみください。
                       </p>
                   </div>
                   <img src="https://acha0203.github.io/Cafe-Recursion/images/cake-4910417_1280.jpg" 
                        alt="Card image" class="img-fluid rounded">
               </div>
           </div>
       </div>
       <!-- 右側のテキストボックス -->
       <div class="col-lg-5 d-flex align-items-stretch">
           <div class="card p-3 d-flex flex-column gap-3 w-100">
               <h4 class="card-title text-center">Recommendation</h4>
               <div class="d-flex flex-row align-items-center gap-3 w-100">
                  <div class="card-body d-flex flex-column justify-content-center">
                     <p class="card-text">
                        今月のお薦めは「ラムダブレンド」。
                        やや苦みのある上品な香りのコーヒーです。
                    </p>
                  </div>
                   <img src="https://acha0203.github.io/Cafe-Recursion/images/coffee-6632524_1280.jpg" 
                        alt="Card image" class="img-fluid rounded">                  
                </div>
             </div>
           </div>
       </div>
   </div>
</div>
