<div class="row">
    <div class="col-sm-6">
     <div class="card p-3">
        <div class="d-flex align-items-center gap-3">
         <div class="card-body">
            <h5 class="card-title">What's New?</h5>
            <p class="card-text">春の新メニュー「フルーツパイ」をご用意しました。
            新鮮なフルーツと生クリームのハーモニーをお楽しみください。</p>   
         </div>
        <img src="https://acha0203.github.io/Cafe-Recursion/images/cake-4910417_1280.jpg"
             alt="Card image" class="img-fluid">
       </div>
      </div>
     </div> 
     <div class="col-sm-6">
        <div class="card p-3">
           <div class="d-flex align-items-center gap-3">
             <h5 class="card-title">Recommendation</h5>
             <p class="card-text">今月のお薦めは「ラムダブレンド」。
                やや苦みのある上品な香りのコーヒーです。</p>
             </div>
             <img src="https://acha0203.github.io/Cafe-Recursion/images/coffee-6632524_1280.jpg"
             alt="Card image" class="img-fluid">
        </div>    
    </div>
</div>

