<nav class='navbar navbar-expand-lg navbar-light bg-light'>
    <a class="navbar-brand ps-3" href="./index.html">
       Cafe Recursion
    </a>
    <div class="nav navbar-nav">
       <a class="nav-item nav-link active" href="./index.html">Home</a>
       <a class="nav-item nav-link" href="./components/drink.html">Drink</a>
       <a class="nav-item nav-link" href="./components/sweets.html">Sweets</a>
       <a class="nav-item nav-link" href="./components/food.html">Food</a>
       <a class="nav-item nav-link" href="./components/infomation.html">Information</a>
    </div>
 </nav>