<nav class='navbar navbar-expand-lg navbar-light bg-light'>
   <a class="navbar-brand ps-3" href="/work-space/index.html">Cafe Recursion</a>
   <div class="nav navbar-nav">
     <a class="nav-item nav-link" href="/work-space/index.html">Home</a>
     <a class="nav-item nav-link" href="/work-space/components/drink.html">Drink</a>
     <a class="nav-item nav-link" href="/work-space/components/sweets.html">Sweets</a>
     <a class="nav-item nav-link" href="/work-space/components/food.html">Food</a>
     <a class="nav-item nav-link" href="/work-space/components/infomation.html">Information</a>
   </div>
 </nav>
 