<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false"
     style="max-height: 400px; overflow: hidden;">
    <div class="carousel-inner" style="max-height: 400px;">
        <div class="carousel-item active">
            <img src="https://acha0203.github.io/Cafe-Recursion/images/coffee-2151200_1280.jpg"
                 class="d-block w-100" alt="slider_image1"
                 style="width: 100%; height: 400px; object-fit: cover;">
        </div>
        <div class="carousel-item">
            <img src="https://acha0203.github.io/Cafe-Recursion/images/pancakes-5989136_1280.jpg"
                 class="d-block w-100" alt="slider_image2"
                 style="width: 100%; height: 400px; object-fit: cover;">
        </div>
        <div class="carousel-item">
            <img src="https://acha0203.github.io/Cafe-Recursion/images/apple-pie-5479993_1280.jpg"
                 class="d-block w-100" alt="slider_image3"
                 style="width: 100%; height: 400px; object-fit: cover;">
        </div>
    </div>
</div>
